@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "MulishRegular";
  font-weight: 400;
  src: url("/fonts/Mulish/Mulish-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "MulishBold";
  font-weight: 700;
  src: url("/fonts/Mulish/Mulish-Bold.ttf") format(truetype);
}

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//These override Bootstrap
body {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif !important;
}

.btn {
  font-family: "MulishBold", Verdana, Geneva, Tahoma, sans-serif !important;
}

.navbar-nav {
  font-family: "MulishBold", Verdana, Geneva, Tahoma, sans-serif !important;
}

.bg-primary {
  background-color: #f2fdff !important;
}

.bg-secondary {
  background-color: #101935 !important;
}

.blue {
  background-color: #0d6efd;
}

.max-vh-50 {
  max-height: 50vh;
}

// #editProfile {
//   pointer-events: none;
// }

//This position a pill element at the left bottom side to a rounded element
.position-be-45 {
  // z-index: 1;
  left: 85%;
  top: 75%;
}

.card-img {
  object-fit: cover;
  height: 250px;
}

dialog::backdrop {
  // border: 0;
  background-color: #5a5a5a;
  opacity: 0.5;
}

dialog {
  width: 600px;
  margin: 32px auto;
}
